@page "/"
@using YummyInMyTummy.Model.Domain;
@using YummyInMyTummy.Model.Contracts;
@inject IRepository repo;

<PageTitle>Food</PageTitle>

<h1>Food</h1>

<RadzenGrid Data="@foods" TItem="Food">
    <Columns>
        <RadzenGridColumn Title="Name" TItem="Food" Property="Name" />
        <RadzenGridColumn Title="Preis" TItem="Food" Property="Preis" />
        <RadzenGridColumn Title="KCal" TItem="Food" Property="KCal" />
    </Columns>
</RadzenGrid>


@code {

    IEnumerable<Food> foods;

    protected override void OnInitialized()
    {
        foods = repo.Query<Food>().Where(x => x.KCal <= 200).ToList();
    }
}
